{% extends 'base.html.twig' %}

{% block title %}Hello ElectricityController!{% endblock %}

{% block body %}

<section>
    <div class="inner"> 
        <div class="item">
            <img src="assets/images/carousel-electricity.jpg" class="image" alt="image-éctricité">
        <div class="container">
            <div class="caption">
                <h1>Electricité générale et industrielle</h1>
                    <p>Pour du dépannage et de l'installation.</p>
            </div>
        </div>
    </div>
</section>
<section class="text-description" > 
    <div class="icon-section">
        <img class="bd-placeholder-img rounded-circle" width="70" height="70" src="assets/images/icone-éléctricité.png"> 
    <h2 class="text-heading">Electricité générale et industrielle</h2>
    </div>

    <div class="text-divider">
        <p class="lead">Chantier sur environ 30/km autour de St pourçain ou de Varennes sur Allier</p>
    
    <hr>
    <div>
</section>

{% endblock %}
