{% extends 'base.html.twig' %}

{% block title %}Hello TransportController!{% endblock %}

{% block body %}
<section>
    <div class="inner"> 
        <div class="item">
            <img src="assets/images/carousel-utilitaire.jpg" class="image" alt="image-utilitaire">
        <div class="container">
            <div class="caption">
                <h1>Transport de marchandises</h1>
                    <p>Prise en charge et dépose de vos colis.</p>
            </div>
        </div>
    </div>
</section>
<section class="text-description">
    <div class="icon-section">
        <img class="bd-placeholder-img rounded-circle" width="70" height="70" src="assets/images/icone-camion.png">
        <h2 class="text-heading">Transport de marchandises</h2>
    </div>
    <div class="text-divider">
        <p class="lead"> Prise en charge et dépose de vos colis au pied du camion
        Charge utile 800Kg de 8 à 12m3 &lt; 3,5T</p>
    
    <hr>

    <h3>Livraison aux environs de                
    St Pourçain sur Sioule ou de Varennes sur Allier </h3>

    <h3>Exemples de forfaits :</h3>
        <ul>
            <li> BricoDépot : 50€ </li>
            <li> Magasin Vichy : 50€ </li>
            <li> Magasin Moulins : 60€ </li>
            <li> Magasin Clermont Ferrand (IKEA) : 100€ </li>
            <li> St Pourçain sur Sioule / Varennes sur Allier : 20€ </li>
        </ul>

    <p class="lead"> Pour des livraisons en dehord des environs de St Pourçain sur Sioule ou de Varennes sur Allier, 
        c'est à dire en toutes distances, le forfait est de : 1,00 € TTC / Km</p>    

    <p><span>(Tous les prix sont exprimé en toutes taxes comprises)</span></p>
    </div>
</section>
{% endblock %}
