</div>  
  <footer class="footer py-">
    <div class="container">
      
      <p class="lead"> Pour toute demande contacter moi au : 
          <span style="font-size:20px;"> 
                  <a class= "contact" href="tel:0757086551" > 07 57 08 65 51</a>
          </span> de 8 heure à 18h30 du lundi au vendredi. 
      </p>
      <p class="lead">En dehors de ses horaires par email :  
          <span style="font-size:20px;"> 
                  <a class= "contact" href="mailto:et.varennes@gmail.com" > et.varennes@gmail.com</a>
          </span> 
      </p>
      <div>
        <a class="legal-notice" href="{{ path('law') }}">mentions légales</a>
      </div>
      <p><span class="text-muted">SASU au capital de 8000 € - RCS : Cusset 900574179 – Siret : 90057417900017  - APE : 4321A  - TVA intracom. : FR76900574179</span></p>
      
    </div>
  </footer>
</div> 